{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.query.get('batiment') is not null %}
        Modifier
    {% else %}
        Ajouter
    {% endif %}
    un bâtiment
{% endblock %}

{% block body %}
    <div class="container my-5" style="max-width: 600px">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center mb-4">
                    {% if app.request.query.get('batiment') is not null %}
                        Modifier
                    {% else %}
                        Ajouter
                    {% endif %}
                    un bâtiment
                </h2>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" style="margin-top: 10px">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">
                        {% if app.request.query.get('batiment') is not null %}
                            Modifier
                        {% else %}
                            Ajouter
                        {% endif %}
                    </button>
                    <a href="{{ path('app_batiment_liste') }}" class="btn btn-secondary">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
