{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Modifier l'utilisateur : {{ user.nom }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mt-3">Enregistrer les modifications</button>
        {{ form_end(form) }}

        <a href="{{ path('app_page_acceuil') }}" class="btn btn-secondary mt-3">Retour</a>
    </div>
{% endblock %}
