{% extends 'base.html.twig' %}

{% block title %}Demande d'installation{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('/styles/detail_plan/common.scss') }}">
    <div class="container my-5 card-body">
        <div class="card shadow full-width">
            <div class="card-body">
                <h1 class="text-center mb-4">Demander une installation</h1>
                {# Formulaire Symfony #}
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_lier_liste', {'nom':nom, 'batiment':batiment})}}" class="btn btn-secondary mr-1 mt-1 action" role="button">Annuler</a>
                    <button type="submit" class="btn btn-primary mr-1 mt-1 action" role="button">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {# Intégration de Select2 pour la recherche dans le select #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function() {
            // Applique select2 sur les éléments avec la classe 'sa-searchable' pour le SA
            $('.sa-searchable').select2({
                placeholder: "Sélectionnez un système d'acquisition",
                allowClear: true
            });

            // Applique select2 sur les éléments avec la classe 'salle-searchable' pour la Salle
            $('.salle-searchable').select2({
                placeholder: "Sélectionnez une salle",
                allowClear: true
            });
        });
    </script>

{% endblock %}

