{% extends 'base.html.twig' %}

{% block title %}Details des plans{% endblock %}

{% block body %}
    {# Link to the CSS file#}
    <link rel="stylesheet" href="{{ asset("styles/plan/index.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1 class="text-center mb-4"> Details {{ plan_select.nom }}</h1>

    <div class="page-content">
        <div id="sidebar">
            <select id="batiment_selection" onchange="updateEtages()">
                <option value="" disabled selected>selectionner un batiment</option>
                {% for batiment in batiments %}
                    <option value="{{ batiment.id }}"
                            {% if batiment.id == selected_batiment %}
                    selected
                            {% endif %}>
                        {{ batiment.nom }}</option>
                {% endfor %}
            </select>
                <div id="etagesDiv">
                    <div class="vertical-line"></div>
                    <span>
                        <p id="etagesToutes"></p>
                        <ul id="etagesList">
                            <!-- Les elements de la liste seront genere ici par le script-->
                        </ul>
                    </span>
                </div>

        </div>

        <table id="plan">
            <thead id="table-header">
                <tr>
                    <th>Salle</th>
                    <th>Attribution</th>
                    <th>SA</th>
                </tr>
            </thead>
            <tbody id="table-content">
                {% for salle in salles %}
                    <tr class="ligne-attribution">
                        <td class="salleDiv">{{ salle.nom }}</td>
                        <td class="tdAttribuer">
                            <div class="horizontal-line"></div>
                            <a href="{{ path('app_lier_ajout', {'salle':salle.id, 'id' : plan_select.id}) }}" class="caseBleu fa fa-plus-square" role="button"></a>
                            <div class="flex">
                                {% if salle.detailPlans|length == 0 %}
                                    <div class="line-stop"><i class="fa fa-close"></i></div>
                                {% else %}
                                    <div class="horizontal-line"></div>
                                {% endif %}
                            </div>
                        </td>
                        {% if salle.detailPlans|length == 0 %}
                            <td class = "SAattribue AucunSA">Aucun SA attribue</td>
                    </tr>
                        {% elseif salle.detailPlans|length == 1%}
                            <td class = "SAattribue">
                            {% set plan = salle.detailPlans[0] %}
                                <span class="infoSA">
                                    <div>{{ plan.sa.nom }}</div>
                                    <div>Date attribue: {{ plan.dateAjout|date('d/m/Y') }}</div>
                                </span>
                                <a href="{{ path('app_lier_suppression', {id: plan.id }) }}" role="button" class="supprAttr fa fa-trash"></a>
                            </td>
                    </tr>
                    {% else %}
                        <td class="SAattribue">
                                {{ salle.detailPlans|length }} SA attribues
                                <i class="toggle caseBleu fa fa-arrow-circle-down" data-salle-id="{{ salle.id }}"></i>
                            </td>
                        </tr>
                        {% for plan in salle.detailPlans %}
                            <tr class="ligne-attribution hidden afficher-{{ salle.id }}">
                                <td></td>
                                <td class="flex-2">
                                    <div class="line-aggregate"></div>
                                </td>
                                <td class="SAattribue">
                                    <span class="infoSA">
                                        <div>{{ plan.sa.nom }}</div>
                                        <div>Date attribue: {{ plan.dateAjout|date('d/m/Y') }}</div>
                                    </span>
                                    <a href="{{ path('app_lier_suppression', {id: plan.id }) }}" role="button" class="supprAttr fa fa-trash"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const batiments = {{ batiments|json_encode|raw }};

        // Function to update the etage dropdown
        function updateEtages() {
            const batSelect = document.getElementById("batiment_selection");
            const etagesList = document.getElementById("etagesList");
            const etagesToutes = document.getElementById("etagesToutes");
            const selectedId = batSelect.value;

            // Clear previous étage buttons
            etagesToutes.innerHTML = '';
            etagesList.innerHTML = '';

            // Get selected plan
            const selectedBatiment = batiments.find(b => b.id == selectedId);

            if (selectedBatiment) {
                let selectedEtage = -1;
                const link = document.createElement('a');  // Create a new <a> element
                link.href = `?batiment=${selectedId}`;  // Set the href attribute
                link.textContent = "Afficher toutes";  // Set the link text
                link.classList.add('etage-affiche-toutes');  // Add a CSS class for styling (optional)
                {%if selected_etage is null %} {% if selected_batiment is not null %} if({{selected_batiment}} == selectedId) link.classList.add('darken');{% endif %}
                {% else %} selectedEtage = {{ selected_etage }};
                {% endif %}

                etagesToutes.appendChild(link);


                // Loop through the etage names in the selected batiment
                selectedBatiment.nomEtages.forEach((etageName, index) => {
                    const line = document.createElement('div');  // Create a new <div> element
                    line.classList.add('horizontal-line');

                    const link = document.createElement('a');  // Create a new <a> element
                    link.href = `?batiment=${selectedId}&etage=${index}`;  // Use the index for linking
                    link.textContent = `Niveau ${etageName}`;  // Display the etage name
                    link.classList.add('etage-list-item');  // Add a CSS class for styling

                    // Highlight the selected etage
                    {% if selected_batiment is not null %} if({{selected_batiment}} == selectedId && selectedEtage == index) link.classList.add('darken'){% endif %};

                    const listItem = document.createElement('li');  // Create a <li> element
                    listItem.appendChild(line);  // Append the horizontal line
                    listItem.appendChild(link);  // Append the <a> element

                    etagesList.appendChild(listItem);  // Append the <li> to the list
                });
            }
        }

        window.onload = function() {
            const selectionBatiment = document.getElementById('batiment_selection');

            // Check if the selected option is set programmatically
            const selectedValue = selectionBatiment.value;

            // Manually trigger the onchange event if there's a pre-selected value
            if (selectedValue) {
                updateEtages();
            }
        };

        document.addEventListener("DOMContentLoaded", function () {
            const toggleButtons = document.querySelectorAll(".toggle");

            toggleButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const salleId = this.getAttribute("data-salle-id");
                    const details = document.querySelectorAll(`.afficher-${salleId}`);

                    details.forEach(detail => { detail.classList.toggle('hidden'); });
                    this.classList.toggle("fa-arrow-circle-up");
                    this.classList.toggle("fa-arrow-circle-down");
                });
            });
        });
    </script>
{% endblock %}
