{% extends 'base.html.twig' %}

{% block title %}Liste des plans{% endblock %}

{% block body %}
    {# Link to the CSS file#}
    <link rel="stylesheet" href="{{ asset("styles/plan/index.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1 class="text-center mb-4"> Details Plan </h1>

    <div class="page-content">
        <div id="sidebar">
            <select id="plan_selection" onchange="updateEtages()">
                <option value="" disabled selected>selectionner un plan</option>
                {% for plan in plans %}
                    <option value="{{ plan.id }}"
                            {% if plan.id == selected_plan %}
                    selected
                            {% endif %}>
                        Batiment {{ plan.batNom }} - {{ plan.nom }}</option>
                {% endfor %}
            </select>

            <br>

            <div>
                <h3 id="etagesDiv"></h3>
                <ul id="etagesList">
                    <!-- Les elements de la liste seront genere ici par le script-->
                </ul>
            </div>
        </div>

        <table id="plan">
            <thead id="table-header">
                <tr>
                    <th>Salle</th>
                    <th>Attribution</th>
                    <th>SA</th>
                </tr>
            </thead>
            <tbody id="table-content">
                {% for salle in salles %}
                    <tr class="ligne-attribution">
                        <td class="salleDiv">{{ salle.nom }}</td>
                        <td class="tdAttribuer"><a href="{{ path('app_lier_ajout') }}?salle={{ salle.id }}" class="caseBleu fa fa-plus-square" role="button"></a></td>
                        {% if salle.plans|length == 0 %}
                            <td class = "SAattribue AucunSA">Aucun SA attribue</td>
                    </tr>
                        {% elseif salle.plans|length == 1%}
                            <td class = "SAattribue">
                            {% set plan = salle.plans[0] %}
                                <span class="infoSA">
                                    <div>{{ plan.sa.nom }}</div>
                                    <div>Date attribue: {{ plan.dateAjout|date('d/m/Y') }}</div>
                                </span>
                                <a href="{{ path('app_lier_suppression', {id: plan.id }) }}" role="button" class="supprAttr fa fa-trash"></a>
                            </td>
                    </tr>
                    {% else %}
                        <td class="SAattribue">
                                {{ salle.plans|length }} SA attribues
                                <i class="toggle caseBleu fa fa-arrow-circle-down" data-salle-id="{{ salle.id }}"></i>
                            </td>
                        </tr>
                        {% for plan in salle.plans %}
                            <tr class="ligne-attribution hidden afficher-{{ salle.id }}">
                                <td></td>
                                <td></td>
                                <td class="SAattribue">
                                    <span class="infoSA">
                                        <div>{{ plan.sa.nom }}</div>
                                        <div>Date attribue: {{ plan.dateAjout|date('d/m/Y') }}</div>
                                    </span>
                                    <a href="{{ path('app_lier_suppression', {id: plan.id }) }}" role="button" class="supprAttr fa fa-trash"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const plans = {{ plans|json_encode|raw }};

        // Function to update the etage dropdown
        function updateEtages() {
            const planSelect = document.getElementById("plan_selection");
            const etagesList = document.getElementById("etagesList");
            const etagesDiv = document.getElementById("etagesDiv");
            const selectedId = planSelect.value;

            // Clear previous étage buttons
            etagesList.innerHTML = '';
            etagesDiv.innerHTML = '';

            // Get selected plan
            const selectedPlan = plans.find(p => p.id == selectedId);

            if (selectedPlan) {
                let selectedEtage = -1;
                const link = document.createElement('a');  // Create a new <a> element
                link.href = `?plan=${selectedId}`;  // Set the href attribute
                link.textContent = "Afficher toutes";  // Set the link text
                link.classList.add('etage-affiche-toutes');  // Add a CSS class for styling (optional)
                {%if selected_etage is null %} link.classList.add('darken');
                {% else %} selectedEtage = {{ selected_etage }};
                {% endif %}

                etagesDiv.appendChild(link);


                for (let i = 0; i < selectedPlan.nbEtages; i++) {
                    const link = document.createElement('a');  // Create a new <a> element
                    link.href = `?plan=${selectedId}&etage=${i}`;  // Set the href attribute
                    link.textContent = `Étage ${i}`;  // Set the link text
                    link.classList.add('etage-list-item');  // Add a CSS class for styling (optional)
                    if(selectedEtage == i) link.classList.add('darken');

                    const listItem = document.createElement('li');  // Create a <li> element
                    listItem.appendChild(link);  // Append the <a> to the <li>

                    etagesList.appendChild(listItem);  // Append the <li> to the list
                }
            }
        }

        window.onload = function() {
            const selectionPlan = document.getElementById('plan_selection');

            // Check if the selected option is set programmatically
            const selectedValue = selectionPlan.value;

            // Manually trigger the onchange event if there's a pre-selected value
            if (selectedValue) {
                updateEtages();
            }
        };

        document.addEventListener("DOMContentLoaded", function () {
            const toggleButtons = document.querySelectorAll(".toggle");

            toggleButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const salleId = this.getAttribute("data-salle-id");
                    const details = document.querySelectorAll(`.afficher-${salleId}`);

                    details.forEach(detail => { detail.classList.toggle('hidden'); });
                    this.classList.toggle("fa-arrow-circle-up");
                    this.classList.toggle("fa-arrow-circle-down");
                });
            });
        });
    </script>
{% endblock %}
