{% extends 'base.html.twig' %}

{% block title %}Details des plans{% endblock %}

{% block body %}
    {# Link to the CSS file#}
    <link rel="stylesheet" href="{{ asset("styles/detail_plan/liste.scss") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <div id="sidebar">
            <select id="batiment_selection" onchange="updateEtages()">
                <option value="" disabled selected>selectionner un batiment</option>
                {% for batiment in batiments %}
                    <option value="{{ batiment.id }}"
                            {% if batiment.id == selected_batiment %}
                    selected
                            {% endif %}>
                        {{ batiment.nom }}</option>
                {% endfor %}
            </select>
                <div id="etagesDiv">
                    <div class="vertical-line"></div>
                    <span>
                        <p id="etagesToutes"></p>
                        <ul id="etagesList">
                            <!-- Les elements de la liste seront genere ici par le script-->
                        </ul>
                    </span>
                </div>
        </div>

    <div class="page-content">
        <h1 class="text-center mb-4"> Details {{ plan_select.nom }}</h1>

        <div id="detail_plan">
                {% for salle in salles %}
                    <div class="block-salle-container">
                        <div class="block-salle">
                            <div class="circle-niveau">{{ salle.etage.niveau }}</div>
                            <div class="nom-salle">{{ salle.nom }}</div>
                            <div class="SAattribue">
                                <div class = "nbrSAattribue">
                                {% if salle.detailPlans|length == 0 %}
                                    Aucun SA attribue
                                {% elseif salle.detailPlans|length == 1%}
                                    {% set plan = salle.detailPlans[0] %}
                                    {{ plan.sa.nom }} attribue
                                {% else %}
                                    {{ salle.detailPlans|length }} SA attribuesBlue
                                {% endif %}
                                </div>
                                <div class="actions">
                                    <i class="toggle caseBleu fas fa-eye" data-salle-id="{{ salle.id }}"></i>
                                    <a href="{{ path('app_lier_ajout', {'salle':salle.id, 'id' : plan_select.id}) }}" class="caseBleu material-icons" role="button">add_circle</a>
                                </div>
                            </div>
                            <div class="afficher-{{ salle.id }} gray-container">
                                {% for plan in salle.detailPlans %}
                                    <div class="ligne-attribue">
                                        {% if plan.etatSA == 'pret' %}
                                            <div style="background: green">OK</div>
                                        {% elseif plan.etatSA == 'installation' %}

                                        {% else %}
                                        {% endif %}
                                            <span class="infoSA">
                                                <div>{{ plan.sa.nom }}</div>
                                                <div style="font-size: 16px">Date attribue: {{ plan.dateAjout|date('d/m/Y') }}</div>
                                            </span>
                                        <a href="{{ path('app_lier_suppression', {id: plan.id }) }}" role="button" class="supprAttr material-icons">cancel</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>

    <script>
        const batiments = {{ batiments|json_encode|raw }};

        // Function to update the etage dropdown
        function updateEtages() {
            const batSelect = document.getElementById("batiment_selection");
            const etagesList = document.getElementById("etagesList");
            const etagesToutes = document.getElementById("etagesToutes");
            const selectedId = batSelect.value;

            // Clear previous étage buttons
            etagesToutes.innerHTML = '';
            etagesList.innerHTML = '';

            // Get selected plan
            const selectedBatiment = batiments.find(b => b.id == selectedId);

            if (selectedBatiment) {
                let selectedEtage = -1;
                const link = document.createElement('a');  // Create a new <a> element
                link.href = `?batiment=${selectedId}`;  // Set the href attribute
                link.textContent = "Afficher toutes";  // Set the link text
                link.classList.add('etage-affiche-toutes');  // Add a CSS class for styling (optional)
                {%if selected_etage is null %} {% if selected_batiment is not null %} if({{selected_batiment}} == selectedId) link.classList.add('darken');{% endif %}
                {% else %} selectedEtage = {{ selected_etage }};
                {% endif %}

                etagesToutes.appendChild(link);


                // Loop through the etage names in the selected batiment
                selectedBatiment.nomEtages.forEach((etageName, index) => {
                    const line = document.createElement('div');  // Create a new <div> element
                    line.classList.add('horizontal-line');

                    const link = document.createElement('a');  // Create a new <a> element
                    link.href = `?batiment=${selectedId}&etage=${index}`;  // Use the index for linking
                    link.textContent = `Niveau ${etageName}`;  // Display the etage name
                    link.classList.add('etage-list-item');  // Add a CSS class for styling

                    // Highlight the selected etage
                    {% if selected_batiment is not null %} if({{selected_batiment}} == selectedId && selectedEtage == index) link.classList.add('darken'){% endif %};

                    const listItem = document.createElement('li');  // Create a <li> element
                    listItem.appendChild(line);  // Append the horizontal line
                    listItem.appendChild(link);  // Append the <a> element

                    etagesList.appendChild(listItem);  // Append the <li> to the list
                });
            }
        }

        window.onload = function() {
            const selectionBatiment = document.getElementById('batiment_selection');

            // Check if the selected option is set programmatically
            const selectedValue = selectionBatiment.value;

            // Manually trigger the onchange event if there's a pre-selected value
            if (selectedValue) {
                updateEtages();
            }
        };

        document.addEventListener("DOMContentLoaded", function () {
            const toggleButtons = document.querySelectorAll(".toggle");

            toggleButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const salleId = this.getAttribute("data-salle-id");
                    const details = document.querySelectorAll(`.afficher-${salleId}`);

                    details.forEach(detail => { detail.classList.toggle('hidden'); });
                    this.classList.toggle("fa-eye");
                    this.classList.toggle("fa-eye-slash");
                });
            });
        });
    </script>
{% endblock %}
