{% extends 'base.html.twig' %}

{% block title %}Ajouter un systeme d'acquisition (SA){% endblock %}

{% block body %}
<div class="container my-5" style="width: 40%">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" style="margin-top: 10px">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Ajouter un système d'acquisition (SA)</h1>
        {{ form_start(form) }}
        <div>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.nom) }}
        <button type="submit" class="btn btn-primary" style="margin-right: 10px; margin-top: 10px" role="button">Créer le SA</button>
        <a href="/sa" class="btn btn-primary" style="margin-right: 10px; margin-top: 10px" role="button">Annuler</a>
        {{ form_end(form) }}

    </div>
{% endblock %}
