{% extends 'base.html.twig' %}

{% block title %}SA - {{ SA.nom }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">SA - {{ SA.nom }}</h1>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a class="btn btn-success mt-3" href="{{ path('app_sa_ajout') }}" role="button">Ajouter un SA</a>
        </div>

        <div class="row">
            <!-- Colonne gauche : Détails de l'entité SA -->
            <div class="col-md-6">
                <h3>Détails de SA</h3>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nom:</strong> {{ SA.nom }}</li>
                  {#  {% if histo is not null %}
                        <li class="list-group-item"><strong>Salle assignée:</strong> {{ histo }} (ID: {{ SA.plan.Salle.id }})</li>
                    {% else %}
                        <li class="list-group-item"><strong>Pas de salle assignée</strong></li>
                    {% endif %}
                    #}
                </ul>

                {% if histo is null %}
                    <a href="{{ path('app_plan', {'sa_id': SA.id}) }}" class="btn btn-primary mt-3">Assigner une salle</a>
                {% endif %}
            </div>

            <!-- Colonne droite : Informations supplémentaires -->
            <div class="col-md-6">
                <h3>Informations supplémentaires</h3>
                <h4 >Capteurs associés :</h4>
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for capteur in SA.capteurs %}
                        <tr>
                            <td>{{ capteur.nom }}</td>
                            <td>{{ capteur.type.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Section historique des modifications -->
        <div class="mt-5">
            <h3>Historique des modifications de l'état</h3>
            {% if histo is not empty %}
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Date de modification</th>
                        <th>État</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for historique in histo %}
                        <tr>
                            <td>{{ historique.date|date('d/m/Y H:i') }}</td>
                            <td>
                                {% if historique.action.value == 'AJOUTER' %}
                                    Ajouter
                                {% elseif historique.action.value == 'MODIFIER' %}
                                    Modifier
                                {% elseif historique.action.value == 'SUPPRIMER' %}
                                    Supprimé
                                {% else %}
                                    Inconnu
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune modification d'état enregistrée pour ce SA.</p>

            {% endif %}
            <div>

                <h3>Commentaires</h3>
                {% if SA.getCommentaire|length > 0 %}
                    <ul class="list-group">
                        {% for commentaire in SA.getCommentaire %}
                            <li class="list-group-item">
                                <strong>Description :</strong> {{ commentaire.description }} <small>Ajouté le : {{ commentaire.dateAjout|date('d/m/Y') }}</small>
                                <form method="post" action="{{ path('app_sa_commentaire_supprimer', { id: SA.id, commentaireId: commentaire.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
                                    <input type="hidden" name="_token" value="{{ commentaire.id}}">
                                    <button type="submit" class="btn btn-danger">
                                        Supprimer
                                    </button>
                                </form>
                            </li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun commentaire pour ce SA.</p>
                {% endif %}

                <h3>Ajouter un commentaire</h3>
                <form method="post" action="{{ path('app_sa_commentaire', {'id': SA.id}) }}">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>

            </div>
        </div>

    </div>
{% endblock %}
