 {% extends 'base.html.twig' %}

{% block title %}Ajouter un systeme d'acquisition (SA){% endblock %}

{% block body %}
    <div class="container my-5" >
        <h1 class="text-center mb-4">Ajouter un système d'acquisition (SA)</h1>
        <br class="center mb-4" style="max-width: 100%;">
        <div class="d-flex justify-content-between align-items-center">
            {{ form_start(form, {'attr': {'class': 'd-flex'}}) }}
            <div class="form-group mr-2">
                {{ form_row(form.nom) }}
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(form) }}

            <a class="btn btn-primary ml-3" href="{{ path('app_sa_ajout') }}" role="button">Ajouter un SA</a>
        </div>
        <br/>
        <table class="table table-striped table-bordered text-center align-middle">
            <thead>
            <tr class="table-dark">
                <th class="nom">Nom</th>
                <th class="col">Détails</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>



            {% for SA in liste_SA %}
                <tr>
                    <td class="nom">
                        {{ SA.nom }} Systèmes d'acquisition
                    </td>
                    <td class="detail">
                        <a href="{{ path("app_sa_infos", {id:SA.id })}}">
                            voir
                        </a>
                    </td>
                    <td style="width: 10%">
                    <a class="btn btn-outline-success" href="{{ path('app_sa_modifier', {id:SA.id}) }}" role="button">Modifier</a>
                    </td>
                    <td style="width: 10%">
                        <a href="{{ path("app_sa_suppression", { id : SA.id }) }}" class="btn btn-outline-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
