{% extends 'base.html.twig' %}
{% block title %}Supprimer un SA{% endblock %}

{% block body %}
    <div class="container my-5" style="width: 40%">
        {% if sa | filter(o => o is null) | length > 0 %}
            <h1 class="text-center mb-4">
                Aucune salle sélectionnée pour la suppression
            </h1>
            <a class="btn btn-primary" href="{{ path('app_sa_liste') }}" style="margin-right: 10px; margin-top: 10px">Visualiser les sa</a>
        {% else %}
            <h1 class="text-center mb-4">
                Salle(s) sélectionnée(s):
                {{ sa | map(o => o.getNom()) | join(', ') }}
            </h1>
            <p>Êtes-vous sûr de vouloir supprimer ces sa ?</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" style="margin-top: 10px">
                    {{ message }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" style="margin-right: 10px; margin-top: 10px">Supprimer</button>
            <a class="btn btn-primary" href="{{ path('app_sa_liste') }}" style="margin-right: 10px; margin-top: 10px">Annuler</a>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}