{% extends 'base.html.twig' %}

{% block title %}Ajouter une salle{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('/styles/ajouter/'~ css ~'.scss') }}">
    <div class="container my-5 card-body">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="text-center mb-4">Ajouter une {{ classItem }}</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger mt-1">
                        {{ message }}
                    </div>
                {% endfor %}

                {% block champ_dynamic %}
                {% endblock %}

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary mr-1 mt-1" role="button">Créer la {{ classItem }}</button>
                    <a href="{{ path('app_'~classItem~'_liste')}}" class="btn btn-secondary mr-1 mt-1" role="button">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
{% endblock %}