{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}
    <style>
        body{
            background-color: #17203c;
        }

        button {
            outline: none;
            cursor: pointer;
            border: none;
            padding: 0.9rem 2rem;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            position: relative;
            display: inline-block;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-size: 17px;
            border-radius: 500px;
            overflow: hidden;
            background: skyblue;
            color: ghostwhite;
        }

        button span {
            position: relative;
            z-index: 10;
            transition: color 0.4s;
        }

        button:hover span {
            color: black;
        }

        button::before,
        button::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        button::before {
            content: "";
            background: #000;
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        }

        button:hover::before {
            transform: translate3d(100%, 0, 0);
        }

    </style>
    <h1 style="position: absolute; top: 20px; left: 20px;font-size: 2rem; color: white">5M</h1>
    <div style="display: flex; width: 100%; justify-content: center;padding-top: 20px;">
        <a  href="{{ path('app_accueil') }}" style="width: 40%"><img src="{{ asset('styles/logo.png') }}" style="width: 100%;" alt="Image"></a>
    </div>
    <img src="{{ asset('styles/VagueBlanc.png') }}" style="width: 100%;" alt="Image">

    <style>

        @keyframes moveBackground {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(20%, 20%);
            }
        }
    </style>
    <div class="container text-white text-xl">
        <p class="text-center text-5xl">Mission 2</p>
        <p class="text-center mt-10">Dans cette partie, vous allez apprendre à faire la comparaison entre l’être humain et les océans. On en a pas l’impression dis comme ça, mais les océans peuvent être considérés comme des entités. Sans les océans, nos vies en seraient quotidiennement impacté et ceux pour l’ensemble de l’humanité.</p>
        <img class="mt-10" src="{{ asset('styles/turtle.png') }}" style="width: 40%;" alt="Image">
        <div style="display: flex;justify-content: center; margin-top: 25px;">
            <button>
                <span><a href="{{ path('app_mission_human') }}#10metre">Continuer</a> </span>
            </button>
        </div>
    </div>
{% endblock %}
