{% extends 'base.html.twig' %}

{% block title %}Ajouter une salle{% endblock %}

{% block body %}
    <div class="container my-5" style="width: 40%">
        <h1 class="text-center mb-4">Ajouter une salle</h1>
        {{ form_start(form) }}

        <div class="form-group">
            <label for="{{ form.batiment.vars.id }}">{{ form_label(form.batiment) }}</label>
            <div>
                {{ form_widget(form.batiment, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.batiment) }}
        </div>

        <div class="form-group" id="etage-container">
            <label for="{{ form.etage.vars.id }}">{{ form_label(form.etage) }}</label>
            <div>
                {{ form_widget(form.etage, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.etage) }}
        </div>

        <div class="form-group" id="numero-container">
            <label for="{{ form.numero.vars.id }}">{{ form_label(form.numero) }}</label>
            <div>
                {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.numero) }}
        </div>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" style="margin-top: 10px">
                {{ message }}
            </div>
        {% endfor %}

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="margin: 10px" role="button">Créer la salle</button>
            <a href="{{ path('app_salle')}}" class="btn btn-primary" role="button">Annuler</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

