{% extends 'base.html.twig' %}

{% block title %}Détails de la salle{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-secondary text-white">
                <h2 class="mb-0">Détails de la salle : {{ nom }}</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title text-primary">Informations générales</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nom :</strong> {{ nom }}
                    </li>
                    <li class="list-group-item">
                        <strong>Bâtiment :</strong> {{ batiment.nom }}
                    </li>
                    <li class="list-group-item">
                        <strong>Adresse :</strong> {{ batiment.adresse }}
                    </li>
                    <li class="list-group-item">
                        <strong>Étage :</strong> {{ salle.etage.value }}
                    </li>
                    <li class="list-group-item">
                        <strong>Numéro :</strong> {{ salle.numero }}
                    </li>
                    <li class="list-group-item">
                        <strong>SA attribué : </strong>
                        {% if sa is not null %}
                            <a href="{{ path('app_sa_infos', {id : sa.id}) }}" class="btn btn-outline-primary">{{ sa.nom }}</a>
                        {% else %}
                            <a href="{{ path('app_plan_liste') }}" class="btn btn-primary">Attribuer un SA</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <a href="{{ path('app_salle') }}" class="btn btn-outline-secondary">
                    Retour à la liste des salles
                </a>
            </div>
        </div>
    </div>
{% endblock %}
