{% extends 'base.html.twig' %}

{% block title %}Détails de la salle{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/infosSalle.css">
    <div class="all">
        <h1>{{ salle.nom }}</h1>
        {% if sa is not null %}
            <h2>{{ sa.nom }}</h2>
        {% endif %}
        <h2>Métriques de la salle</h2>
        <div class="metriques">
            <div class="dataBlock temp">
                <h4 class="textData">Température</h4>
                <h3 class="data">Donnée</h3>
            </div>
            <div class="dataBlock co2">
                <h4 class="textData">CO2</h4>
                <h3 class="data">Donnée</h3>
            </div>
            <div class="dataBlock humidite">
                <h4 class="textData">Humidité</h4>
                <h3 class="data">Donnée</h3>
            </div>
        </div>

        <aside class="infosSalle">
            <h3 class="el titreInfo">Informations</h3>
            <p class="el nom"><strong>Nom : </strong>{{ salle.nom }}</p>
            <p class="el bat"><strong>Batiment : </strong>{{ salle.batiment.nom }}</p>
            <p class="el adr"><strong>Adresse : </strong>{{ salle.batiment.adresse }}</p>
            <p class="el etage"><strong>Etage : </strong>{{ salle.etage }}</p>
        </aside>

        <aside class="listeCapteurs">
            <h3 class="el titreListeCapteurs">Capteurs</h3>
            <a href="#" class="boutton">Température</a><br/>
            <a href="#" class="boutton">CO2</a><br/>
            <a href="#" class="boutton">Humidité</a><br/>
        </aside>

        <main class="graphs">
            ICI LES GRAPHIQUES
        </main>
    </div>
{% endblock %}
