{% extends 'base.html.twig' %}

{% block title %}Supprimer une salle{% endblock %}

{% block body %}
<div class="container my-5" style="width: 40%">
    <h1 class="text-center mb-4">{{ salle }}</h1>
    <p>Êtes vous sur de vouloir supprimer cette salle ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="margin-right: 10px; margin-top: 10px">Supprimer</button>
    <a class="btn btn-primary" href="{{ path('app_salle') }}" style="margin-right: 10px; margin-top: 10px">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}