{% extends 'base.html.twig' %}

{% block title %}Details de la salle{% endblock %}

{% block body %}
    <div class="salleUserInfosAll">
        <h1 style="font-weight: bold; text-align: center; margin-top: 20px; font-size: 40px;">{{ salle.nom }}</h1>
        {% if data is not null %}
            <h2 style="text-align: center; margin-bottom: 10px;">Recommandations</h2>
            <div class="salleUserInfosConseils">
                {% if conseilGeneral  %}
                    <p>{{ conseilGeneral }}</p>
                {% elseif data is not null %}
                    {% for plan in data %}
                        {% if plan.conseil.temp.texte %}
                            <p>{{ plan.conseil.temp.texte }}</p>
                        {% endif %}
                        {% if plan.conseil.co2.texte  %}
                            <p>{{ plan.conseil.co2.texte }}</p>
                        {% endif %}
                        {% if plan.conseil.humi.texte %}
                            <p>{{ plan.conseil.humi.texte }}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Aucun conseil pour l'instant.<br/>Vous pouvez visualiser les
                        conseils de chaque donnée en laissant votre souris dessus !</p>
                {% endif %}
            </div>
        {% endif %}

        {% if data is not null %}
            <h2 style="text-align: center">Metriques de la salle</h2>
            {% for plan in data %}
                <h3 style="text-align: center">{{ plan.sa.nom }}</h3>
                <div class="salleUserInfosMetriques">
                    <div class="salleUserInfosDataBlock temp" title="{{ plan.conseil.temp.texte }}">
                        <div style="display: flex; gap: 15px">
                            <h4 class="salleUserInfosTextData">Temperature</h4>
                            <img src="{{ asset(plan.temp.variation) }}" style="width: 18px; height: 18px">
                        </div>
                        <div class="salleUserInfosBottomMet">
                            <div class="salleUserInfosEtatNomCap">
                                <img class="salleUserInfosNomCap" src="{{ asset("/img/temp.png") }}">
                            </div>
                            <div style="display: flex; gap: 15px">
                                <img src="{{ asset(plan.conseil.temp.img) }}" style="width: 50px; height: 50px">
                                <h3 style="font-size: 40px; font-weight: bold; color: {{ plan.conseil.temp.color }}">{{ plan.temp.val }}°C</h3>
                            </div>
                        </div>
                    </div>

                    <div class="salleUserInfosDataBlock co2" title="{{ plan.conseil.co2.texte }}">
                        <div style="display: flex; gap: 15px">
                            <h4 class="salleUserInfosTextData">CO2</h4>
                            <img src="{{ asset(plan.co2.variation) }}" style="width: 18px; height: 18px">
                        </div>
                        <div class="salleUserInfosBottomMet">
                            <div class="salleUserInfosEtatNomCap">
                                <img class="salleUserInfosNomCap" src="{{ asset("/img/co2.png") }}">
                            </div>
                            <div style="display: flex; gap: 15px">
                                <img src="{{ asset(plan.conseil.co2.img) }}" style="width: 40px; height: 40px">
                                <h3 style="font-size: 40px; font-weight: bold; color: {{ plan.conseil.co2.color }}">{{ plan.co2.val }}ppm</h3>
                            </div>
                        </div>
                    </div>

                    <div class="salleUserInfosDataBlock humidite" title="{{ plan.conseil.humi.texte }}">
                        <div style="display: flex; gap: 15px">
                            <h4 class="salleUserInfosTextData">Humidite</h4>
                            <img src="{{ asset(plan.humi.variation) }}" style="width: 18px; height: 18px">
                        </div>
                        <div class="salleUserInfosBottomMet">
                            <div class="salleUserInfosEtatNomCap">
                                <img class="salleUserInfosNomCap" src="{{ asset("/img/humi.png") }}">
                            </div>
                            <div style="display: flex; gap: 15px">
                                <img src="{{ asset(plan.conseil.humi.img) }}" style="width: 40px; height: 40px">
                                <h3 style="font-size: 40px; font-weight: bold; color: {{ plan.conseil.humi.color }}">{{ plan.humi.val }}%</h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="below user card" style="width: 100%">
            <aside class="infosSalle" style="text-align: left">
                <h3 class="titreInfo card-header">Informations</h3>
                <p class="el" style="margin-top: 20px"><strong>Nom : </strong>{{ salle.nom }}</p>
                <p class="el"><strong>Batiment : </strong>{{ salle.etage.batiment.nom }}</p>
                <p class="el"><strong>Adresse : </strong>{{ salle.etage.batiment.adresse }}</p>
                <p class="el"><strong>Etage : </strong>{{ salle.etage.nom }}</p>
            </aside>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}