<div class="allNav">
    <nav class="navbar">
        <a href="{{ path('app_page_acceuil') }}" style="text-decoration: none;">
            <div class="accueil">
                <img src="{{ asset('img/logo-iut.png') }}" class="logo">
                <h2 class="el1">Smart Campus</h2>
            </div>
        </a>

        {% if not  is_granted('ROLE_TECHNICIEN') and not is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_salle_user_liste') }}" style="text-decoration: none;">
                <h3 class="elNav">toutes les salles</h3>
            </a>
            <a href="{{ path('app_login') }}" style="text-decoration: none;">
                <div class="accueil">
                    <h3 class="elNav">connexion</h3>
                    <img src="{{ asset('img/connexion.png') }}" class="logo">
                </div>
            </a>
        {% endif %}

        {% if is_granted('ROLE_TECHNICIEN') %}
            <a href="{{ path('app_guide') }}" style="text-decoration: none;">
                <h3 class="elNav">Guide</h3>
            </a>
            <a href="{{ path('app_technicien_acceuil') }}" style="text-decoration: none;">
                <h3 class="elNav">accueil</h3>
            </a>
            <a href="{{ path('app_technicien_taches') }}" style="text-decoration: none;">
                <h3 class="elNav">taches</h3>
            </a>
            <a href="{{ path('app_logout') }}" style="text-decoration: none;">
                <h3 class="elNav">se deconnecter</h3>
            </a>

        {% endif %}

        {% if is_granted('ROLE_CHARGE_DE_MISSION') %}
            <a href="{{ path('app_guide') }}" style="text-decoration: none;">
                <h3 class="elNav">Guide</h3>
            </a>
            <a href="{{ path('app_salle_liste') }}" style="text-decoration: none;">
                <h3 class="elNav">Salles</h3>
            </a>
            <a href="{{ path('app_sa_liste') }}" style="text-decoration: none;">
                <h3 class="elNav">SA</h3>
            </a>
            <a href="{{ path('app_plan_liste') }}" style="text-decoration: none;">
                <h3 class="elNav">Plan</h3>
            </a>
            <a href="{{ path('app_batiment_liste') }}" style="text-decoration: none;">
                <h3 class="elNav">Bâtiment</h3>
            </a>
            <a href="{{ path('app_gestion') }}" style="text-decoration: none;">
                <h3 class="elNav">gestion de </h3>
            </a>
            <a href="{{ path('app_logout') }}" style="text-decoration: none;">
                <h3 class="elNav">se deconnecter</h3>
            </a>
        {% endif %}
    </nav>
</div>
